---
layout: default
---

<div class="home">

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

  <h1 class="page-heading">{{ t | upcase }}</h1>
  <ul class="post-list">
  {% for post in site.posts %}
    {% if post.tags contains t %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>


